{% extends 'base.htm'%}
{% block title %} - {{user.first_name}} {%endblock%}
{%block content%}
{%include 'pages/partials/_alerts.htm' %}
<section id="dashboard" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>{{user.first_name}} {{user.last_name}}</h2>
              <p>Here are the property listings that you have inquired about</p>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Property</th>
                    <th scope="col">Contact date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {%if user_contact %}
                  {%for us in user_contact%}
                  <tr>
                      <td>{{us.id}}</td>
                      <td>{{us.listing}}</td>
                      <td>{{us.contact_date}}</td>
                      <td>
                        <a class="btn btn-light" href="{%url 'listing' us.listing_id%}">View</a>
                      </td>
                    </tr>
                  {%endfor%}
                  {%else%}
                  {%endif%}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
{%endblock%}